{{#each tags}}
<span class="{{@root.prefix}}--tag {{@root.prefix}}--tag--{{type}}">{{label}}</span>
{{/each}}
{{#if componentsX}}
<span class="{{@root.prefix}}--tag {{@root.prefix}}--tag--basic" disabled>Component</span>
{{/if}}
