<div data-content-switcher class="{{@root.prefix}}--content-switcher" role="tablist" aria-label="Demo switch content">
  {{#each items}}
    <button class="{{@root.prefix}}--content-switcher-btn{{#if selected}} {{@root.prefix}}--content-switcher--selected{{/if}}" data-target="{{target}}" role="tab"{{#if selected}} aria-selected="true"{{/if}}>
      {{#if ../hasIcon}}
        {{> (../addFilledIcon) attr-class=(add @root.prefix "--content-switcher__icon") }}
      {{/if}}
      {{#if label}}<span>{{label}}</span>{{/if}}
    </button>
  {{/each}}
</div>
