<button data-copy-btn class="{{@root.prefix}}--btn {{@root.prefix}}--btn--primary {{@root.prefix}}--btn--copy {{@root.prefix}}--btn--sm">
  Copy button
  {{> (addIcon) newContext class=(add @root.prefix "--btn__icon" )}}
  <div class="{{@root.prefix}}--btn--copy__feedback" data-feedback="Copied!"></div>
</button>
