<!-- 
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<button data-copy-btn class="{{@root.prefix}}--btn {{@root.prefix}}--btn--primary {{@root.prefix}}--btn--copy {{@root.prefix}}--btn--sm">
  Copy button
  {{ carbon-icon 'AddFilled16' class=(add @root.prefix '--btn__icon') }}
  <div class="{{@root.prefix}}--btn--copy__feedback" data-feedback="Copied!"></div>
</button>
