<div class="{{@root.prefix}}--form-item {{@root.prefix}}--multi-select {{@root.prefix}}--list-box{{#if inline}} {{@root.prefix}}--list-box--inline{{/if}}">
  <div role="button" class="{{@root.prefix}}--list-box__field" tabindex="0" aria-label="open menu" aria-expanded="false"
    aria-haspopup="true">
    <span class="{{@root.prefix}}--list-box__label">Label</span>
    <div class="{{@root.prefix}}--list-box__menu-icon">
      <svg width="10" height="5" name="caret--down" role="img" viewBox="0 0 10 5" aria-label="Open menu">
        <title>Open menu</title>
        <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
      </svg>
    </div>
  </div>
</div>
<div class="{{@root.prefix}}--form-item {{@root.prefix}}--multi-select {{@root.prefix}}--list-box{{#if inline}} {{@root.prefix}}--list-box--inline{{/if}}">
  <div role="button" class="{{@root.prefix}}--list-box__field" tabindex="0" aria-label="close menu" aria-expanded="true"
    aria-haspopup="true">
    <span class="{{@root.prefix}}--list-box__label">Label</span>
    <div class="{{@root.prefix}}--list-box__menu-icon {{@root.prefix}}--list-box__menu-icon--open">
      <svg width="10" height="5" name="caret--down" role="img" viewBox="0 0 10 5" aria-label="Close menu">
        <title>Close menu</title>
        <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
      </svg>
    </div>
  </div>
  <div class="{{@root.prefix}}--list-box__menu">
    {{#each items}}
    <div class="{{@root.prefix}}--list-box__menu-item" id="{{id}}">
      <div class="{{@root.prefix}}--form-item {{@root.prefix}}--checkbox-wrapper">
        <label for="{{id}}" title="{{label}}" class="{{@root.prefix}}--checkbox-label">
          <input type="checkbox" name="Option 1" readonly="" tabindex="-1" class="{{@root.prefix}}--checkbox" id="{{id}}" value="on">
          <span class="{{@root.prefix}}--checkbox-appearance"></span>
          <span class="{{@root.prefix}}--checkbox-label-text">{{label}}</span>
        </label>
      </div>
    </div>
    {{/each}}
  </div>
</div>
