<!-- 
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<div class="{{@root.prefix}}--form-item">
  {{#if componentsX}}
    <label for="text-input-3" class="{{@root.prefix}}--label">Text Input label</label>
    <input id="text-input-3" type="text" class="{{@root.prefix}}--text-input{{#if light}} {{@root.prefix}}--text-input--light{{/if}}" placeholder="Optional placeholder text">
  {{else}}
    <input id="text-input-3" type="text" class="{{@root.prefix}}--text-input{{#if light}} {{@root.prefix}}--text-input--light{{/if}}" placeholder="Optional placeholder text">
    <label for="text-input-3" class="{{@root.prefix}}--label">Text Input label</label>
  {{/if}}
</div>
<div class="{{@root.prefix}}--form-item">
  {{#if componentsX}}
    <label for="text-area-2" class="{{@root.prefix}}--label">Text Area label</label>
    <textarea id="text-area-2" class="{{@root.prefix}}--text-area{{#if light}} {{@root.prefix}}--text-area--light{{/if}}" rows="4" cols="50" placeholder="Placeholder text."></textarea>
  {{else}}
    <textarea id="text-area-2" class="{{@root.prefix}}--text-area{{#if light}} {{@root.prefix}}--text-area--light{{/if}}" rows="4" cols="50" placeholder="Placeholder text."></textarea>
    <label for="text-area-2" class="{{@root.prefix}}--label">Text Area label</label>
  {{/if}}
</div>
<div class="{{@root.prefix}}--form-item">
  <div class="{{@root.prefix}}--select{{#if light}} {{@root.prefix}}--select--light{{/if}}">
    {{#if componentsX}}
      <label for="select-id" class="{{@root.prefix}}--label">Select label</label>
    {{/if}}
    <select id="select-id" class="{{@root.prefix}}--select-input">
      {{#each selectItems}}
        {{#if items}}
          <optgroup class="{{@root.prefix}}--select-optgroup" label="{{label}}">
            {{#each items}}
              <option class="{{@root.prefix}}--select-option" value="{{value}}"{{#if disabled}} disabled{{/if}}{{#if selected}} selected{{/if}}{{#if hidden}} hidden{{/if}}>{{label}}</option>
            {{/each}}
          </optgroup>
        {{else}}
          <option class="{{@root.prefix}}--select-option" value="{{value}}"{{#if disabled}} disabled{{/if}}{{#if selected}} selected{{/if}}{{#if hidden}} hidden{{/if}}>{{label}}</option>
        {{/if}}
      {{/each}}
    </select>
    {{#if componentsX}}
      {{ carbon-icon 'ChevronDownGlyph' class=(add @root.prefix '--select__arrow')}}
    {{else}}
      <svg class="{{@root.prefix}}--select__arrow" width="10" height="5" viewBox="0 0 10 5">
        <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
      </svg>
    {{/if}}
    {{#unless componentsX}}
      <label for="select-id" class="{{@root.prefix}}--label">Select label</label>
    {{/unless}}
  </div>
</div>
<div class="{{@root.prefix}}--form-item">
  <button class="{{@root.prefix}}--btn {{@root.prefix}}--btn--primary" type="button">Submit</button>
</div>
