<{{tag}} class="bx--list--{{type}}">
  <li class="bx--list__item">{{displayType}} List level 1
    <{{tag}} class="bx--list--nested">
      <li class="bx--list__item">{{displayType}} List level 2</li>
      <li class="bx--list__item">{{displayType}} List level 2</li>
    </{{tag}}>
  </li>
  <li class="bx--list__item">{{displayType}} List level 1</li>
  <li class="bx--list__item">{{displayType}} List level 1</li>
</{{tag}}>
