<{{tag}} class="{{@root.prefix}}--list--{{type}}">
  <li class="{{@root.prefix}}--list__item">{{displayType}} List level 1
    <{{tag}} class="{{@root.prefix}}--list--nested">
      <li class="{{@root.prefix}}--list__item">{{displayType}} List level 2</li>
      <li class="{{@root.prefix}}--list__item">{{displayType}} List level 2</li>
    </{{tag}}>
  </li>
  <li class="{{@root.prefix}}--list__item">{{displayType}} List level 1</li>
  <li class="{{@root.prefix}}--list__item">{{displayType}} List level 1</li>
</{{tag}}>
