<div {{#if password}} data-text-input {{/if}} class="{{@root.prefix}}--form-item {{@root.prefix}}--text-input-wrapper">
  <label for="text-input-3" class="{{@root.prefix}}--label">Text Input label</label>
  {{#unless password}}
  <input id="text-input-3" type="text" class="{{@root.prefix}}--text-input{{#if light}} {{@root.prefix}}--text-input--light{{/if}}" placeholder="Placeholder text">
  {{else}}
  <input id="text-input-3" type="password" class="{{@root.prefix}}--text-input {{#if light}} {{@root.prefix}}--text-input--light{{/if}}"
    placeholder="Placeholder text" data-toggle-password-visibility>
  <button class="{{@root.prefix}}--text-input--password__visibility {{@root.prefix}}--tooltip__trigger {{@root.prefix}}--tooltip--icon__bottom" aria-label="Show password">
    {{> (visibilityOffIcon) attr-class="icon--visibility-off" attr-hidden="" }}
    {{> (visibilityOnIcon) attr-class="icon--visibility-on" }}
  </button>
  {{/unless}}
</div>

<div {{#if password}} data-text-input {{/if}} class="{{@root.prefix}}--form-item {{@root.prefix}}--text-input-wrapper">
  <label for="text-input-4" class="{{@root.prefix}}--label">Text Input label</label>
  {{#unless password}}
  <input data-invalid id="text-input-4" type="text" class="{{@root.prefix}}--text-input{{#if light}} {{@root.prefix}}--text-input--light{{/if}}"
    placeholder="Placeholder text">
  {{else}}
  <input data-invalid id="text-input-4" type="password" class="{{@root.prefix}}--text-input {{#if light}} {{@root.prefix}}--text-input--light{{/if}}"
    placeholder="Placeholder text" data-toggle-password-visibility>
  <button class="{{@root.prefix}}--text-input--password__visibility {{@root.prefix}}--tooltip__trigger {{@root.prefix}}--tooltip--icon__bottom" aria-label="Show password">
    {{> (visibilityOffIcon) attr-class="icon--visibility-off" attr-hidden="" }}
    {{> (visibilityOnIcon) attr-class="icon--visibility-on" }}
  </button>
  {{/unless}}
  <div class="{{@root.prefix}}--form-requirement">
    Validation message here
  </div>
</div>

<div {{#if password}} data-text-input {{/if}} class="{{@root.prefix}}--form-item {{@root.prefix}}--text-input-wrapper">
  <label for="text-input-5" class="{{@root.prefix}}--label">Text Input label</label>
  <div class="{{@root.prefix}}--form__helper-text">
    Optional helper text goes here
  </div>
  {{#unless password}}
  <input id="text-input-5" type="text" class="{{@root.prefix}}--text-input{{#if light}} {{@root.prefix}}--text-input--light{{/if}}" placeholder="Placeholder text">
  {{else}}
  <input id="text-input-5" type="password" class="{{@root.prefix}}--text-input {{#if light}} {{@root.prefix}}--text-input--light{{/if}}"
    placeholder="Placeholder text" data-toggle-password-visibility>
  <button class="{{@root.prefix}}--text-input--password__visibility {{@root.prefix}}--tooltip__trigger {{@root.prefix}}--tooltip--icon__bottom" aria-label="Show password">
    {{> (visibilityOffIcon) attr-class="icon--visibility-off" attr-hidden="" }}
    {{> (visibilityOnIcon) attr-class="icon--visibility-on" }}
  </button>
  {{/unless}}
</div>

<div {{#if password}} data-text-input {{/if}} class="{{@root.prefix}}--form-item {{@root.prefix}}--text-input-wrapper" style="width: 320px">
  <label for="text-input-6" class="{{@root.prefix}}--label">Text Input label</label>
  <div class="{{@root.prefix}}--form__helper-text">
    Optional helper text here; if message is more than one line text should wrap (~100 character count maximum)
  </div>
  {{#unless password}}
  <input id="text-input-6" type="text" class="{{@root.prefix}}--text-input{{#if light}} {{@root.prefix}}--text-input--light{{/if}}" placeholder="Placeholder text">
  {{else}}
  <input id="text-input-6" type="password" class="{{@root.prefix}}--text-input {{#if light}} {{@root.prefix}}--text-input--light{{/if}}"
    placeholder="Placeholder text" data-toggle-password-visibility>
  <button class="{{@root.prefix}}--text-input--password__visibility {{@root.prefix}}--tooltip__trigger {{@root.prefix}}--tooltip--icon__bottom" aria-label="Show password">
    {{> (visibilityOffIcon) attr-class="icon--visibility-off" attr-hidden="" }}
    {{> (visibilityOnIcon) attr-class="icon--visibility-on" }}
  </button>
  {{/unless}}
</div>

<div {{#if password}} data-text-input {{/if}} class="{{@root.prefix}}--form-item {{@root.prefix}}--text-input-wrapper">
  <label for="text-input-7" class="{{@root.prefix}}--label {{@root.prefix}}--label--disabled">Text Input label</label>
  {{#unless password}}
  <input id="text-input-7" type="text" class="{{@root.prefix}}--text-input{{#if light}} {{@root.prefix}}--text-input--light{{/if}}" placeholder="Placeholder text"
    disabled>
  {{else}}
  <input id="text-input-7" type="password" class="{{@root.prefix}}--text-input {{#if light}} {{@root.prefix}}--text-input--light{{/if}}"
    placeholder="Placeholder text" data-toggle-password-visibility disabled>
  <button class="{{@root.prefix}}--text-input--password__visibility {{@root.prefix}}--tooltip__trigger {{@root.prefix}}--tooltip--icon__bottom" aria-label="Show password">
    {{> (visibilityOffIcon) attr-class="icon--visibility-off" attr-hidden="" }}
    {{> (visibilityOnIcon) attr-class="icon--visibility-on" }}
  </button>
  {{/unless}}
</div>
