<div class="{{@root.prefix}}--toolbar" data-toolbar>
  <div class="{{@root.prefix}}--search {{@root.prefix}}--search--sm {{@root.prefix}}--toolbar-search" role="search" data-search data-toolbar-search>
    <label for="search__input" class="{{@root.prefix}}--label">Search</label>
    <input type="text" class="{{@root.prefix}}--search-input" id="search__input" placeholder="Search">
    <button class="{{@root.prefix}}--toolbar-search__btn" aria-label="Toolbar search">
      {{> carbon-icon-search attr-class=(add @root.prefix "--search-magnifier") }}
    </button>
    <button class="{{@root.prefix}}--search-close {{@root.prefix}}--search-close--hidden" title="Clear search
        input" aria-label="Clear search input">
      {{#if @root.featureFlags.componentsX}}
        {{> carbon-icon-close }}
      {{else}}
        <svg width="16" height="16" viewBox="0 0 16 16">
          <path d="M8 7.293L5.525 4.818l-.707.707L7.293 8l-2.475 2.475.707.707L8 8.707l2.475 2.475.707-.707L8.707 8l2.475-2.475-.707-.707L8 7.293zM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"
            fill-rule="evenodd" />
        </svg>
      {{/if}}
    </button>
  </div>
  <div data-overflow-menu class="{{@root.prefix}}--overflow-menu" tabindex="0" aria-label="List of options">
    {{> carbon-icon-filter attr-class=(add (add @root.prefix "--overflow-menu__icon") (add " " (add @root.prefix "--toolbar-filter-icon"))) }}
    <ul class="{{@root.prefix}}--overflow-menu-options">
      <li class="{{@root.prefix}}--toolbar-menu__title">FILTER BY</li>
      {{#each filterOptions}}
        <li class="{{@root.prefix}}--toolbar-menu__option">
          <input id="{{id}}" class="{{@root.prefix}}--checkbox" type="checkbox" value="{{value}}" name="checkbox">
          <label for="{{id}}" class="{{@root.prefix}}--checkbox-label">
            <span class="{{@root.prefix}}--checkbox-appearance">
              {{> (../checkmarkIcon) attr-class=(add @root.prefix "--checkbox-checkmark") }}
            </span>
            {{label}}
          </label>
        </li>
      {{/each}}
    </ul>
  </div>
  <div data-overflow-menu class="{{@root.prefix}}--overflow-menu" tabindex="0" aria-label="List of options">
    {{> (overflowMenuIcon) attr-class=(add @root.prefix "--overflow-menu__icon") }}
    <ul class="{{@root.prefix}}--overflow-menu-options">
      <li class="{{@root.prefix}}--overflow-menu-options__option">
        <button type="button" class="{{@root.prefix}}--overflow-menu-options__btn">Refresh table</button>
      </li>
      <hr class="{{@root.prefix}}--toolbar-menu__divider" />
      <li class="{{@root.prefix}}--toolbar-menu__title">ROW HEIGHT</li>
      <fieldset data-row-height class="{{@root.prefix}}--radio-button-group">
        <legend class="{{@root.prefix}}--visually-hidden">Select table row height</legend>
        {{#each rowHeightOptions}}
          <li class="{{@root.prefix}}--toolbar-menu__option">
            <input id="{{id}}" class="{{@root.prefix}}--radio-button" type="radio" value="{{value}}" name="radio"{{#if selected}} checked{{/if}}>
            <label for="{{id}}" class="{{@root.prefix}}--radio-button__label">
              <span class="{{@root.prefix}}--radio-button__appearance"></span>
              {{label}}
            </label>
          </li>
        {{/each}}
      </fieldset>
    </ul>
  </div>
</div>
