<fieldset class="{{@root.prefix}}--fieldset">
  <legend class="{{@root.prefix}}--label">Radio Button heading</legend>
  <div class="{{@root.prefix}}--form-item">
    <div class="{{@root.prefix}}--radio-button-group">
      {{#each items}}
        <input id="{{id}}" class="{{@root.prefix}}--radio-button" type="radio" value="{{value}}" name="{{../group}}" tabindex="0"{{#is value ../selectedValue}} checked{{/is}}{{#if disabled}} disabled{{/if}}>
        <label for="{{id}}" class="{{@root.prefix}}--radio-button__label">
          <span class="{{@root.prefix}}--radio-button__appearance"></span>
          {{label}}
        </label>
      {{/each}}
    </div>
  </div>
</fieldset>
