<div data-tile="expandable" class="{{@root.prefix}}--tile {{@root.prefix}}--tile--expandable" tabindex="0">
  <button aria-label="expand menu" class="{{@root.prefix}}--tile__chevron">
    {{#if @root.featureFlags.componentsX}}
      {{ carbon-icon 'ChevronDown16' }}
    {{else}}
      <svg width="12" height="7" viewBox="0 0 12 7">
        <path fill-rule="nonzero" d="M6.002 5.55L11.27 0l.726.685L6.003 7 0 .685.726 0z" />
      </svg>
    {{/if}}
  </button>
  <div class="{{@root.prefix}}--tile-content">
    <span data-tile-atf class="{{@root.prefix}}--tile-content__above-the-fold">
      <!-- Above the fold content here -->
    </span>
    <span class="{{@root.prefix}}--tile-content__below-the-fold">
      <!-- Rest of the content here -->
    </span>
  </div>
</div>
