<label for="tile-id" aria-label="tile" class="{{@root.prefix}}--tile {{@root.prefix}}--tile--selectable" data-tile="selectable" tabindex="0">
  <input tabindex="-1" data-tile-input id="tile-id" class="{{@root.prefix}}--tile-input" value="tile" type="checkbox" name="tiles" title="tile"
  />
  <div class="{{@root.prefix}}--tile__checkmark">
    {{> (checkmarkFilledIcon) }}
  </div>
  <div class="{{@root.prefix}}--tile-content">
    <!-- Tile content here -->
  </div>
</label>
