<!-- 
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

{{#if @root.featureFlags.componentsX}}
  <input tabindex="-1" data-tile-input id="tile-id" class="{{@root.prefix}}--tile-input" value="tile" type="checkbox" name="tiles" title="tile" />
{{/if}}
<label for="tile-id" aria-label="tile" class="{{@root.prefix}}--tile {{@root.prefix}}--tile--selectable" data-tile="selectable" tabindex="0">
  {{#unless @root.featureFlags.componentsX}}
    <input tabindex="-1" data-tile-input id="tile-id" class="{{@root.prefix}}--tile-input" value="tile" type="checkbox" name="tiles" title="tile" />
  {{/unless}}
  <div class="{{@root.prefix}}--tile__checkmark">
    {{#if @root.featureFlags.componentsX}}
      {{ carbon-icon 'CheckmarkFilled16' }}
    {{else}}
      <svg width="16" height="16" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16zm3.646-10.854L6.75 10.043 4.354 7.646l-.708.708 3.104 3.103 5.604-5.603-.708-.708z"
          fill-rule="evenodd" />
      </svg>
    {{/if}}
  </div>
  <div class="{{@root.prefix}}--tile-content">
    <!-- Tile content here -->
  </div>
</label>
