<!-- 
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<input tabindex="-1" data-tile-input id="tile-id" class="{{@root.prefix}}--tile-input" value="tile" type="checkbox" name="tiles" title="tile" />
<label for="tile-id" aria-label="tile" class="{{@root.prefix}}--tile {{@root.prefix}}--tile--selectable" data-tile="selectable" tabindex="0">
  <div class="{{@root.prefix}}--tile__checkmark">
    {{ carbon-icon 'CheckmarkFilled16' }}
  </div>
  <div class="{{@root.prefix}}--tile-content">
    <!-- Tile content here -->
  </div>
</label>
