<footer class="{{@root.prefix}}--footer {{@root.prefix}}--footer--bottom-fixed" role="contentinfo">
  <div class="{{@root.prefix}}--footer-info">
    {{#each items}}
      <div class="{{@root.prefix}}--footer-info__item">
        <p class="{{@root.prefix}}--footer-label">{{title}}</p>
        <a class="{{@root.prefix}}--link" href="#">{{label}}Contact Bluemix Sales</a>
      </div>
    {{/each}}
  </div>
  <div class="{{@root.prefix}}--footer-cta">
    <button class="{{@root.prefix}}--btn {{@root.prefix}}--btn--primary" type="submit">Create</button>
  </div>
</footer>
