<!-- Basic with calendar -->
<div class="{{@root.prefix}}--form-item">
  <div data-date-picker data-date-picker-type="single" class="{{@root.prefix}}--date-picker {{@root.prefix}}--date-picker--single {{@root.prefix}}--date-picker--light">
    {{> date-picker--arrow-icons }}
    <div class="{{@root.prefix}}--date-picker-container">
      {{> carbon-icon-calendar attr-data-date-picker-icon="" attr-class=(add @root.prefix "--date-picker__icon") }}
      <label for="date-picker-3" class="{{@root.prefix}}--label">Date Picker label</label>
      <input type="text" id="date-picker-3" class="{{@root.prefix}}--date-picker__input" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="mm/dd/yyyy"
        data-date-picker-input />
    </div>
  </div>
</div>

<!-- Basic with calendar -->
<div class="{{@root.prefix}}--form-item">
  <div data-date-picker data-date-picker-type="single" class="{{@root.prefix}}--date-picker {{@root.prefix}}--date-picker--single {{@root.prefix}}--date-picker--light">
    {{> date-picker--arrow-icons }}
    <div class="{{@root.prefix}}--date-picker-container">
      {{> carbon-icon-calendar attr-data-date-picker-icon="" attr-class=(add @root.prefix "--date-picker__icon") }}
      <label for="date-picker-3" class="{{@root.prefix}}--label">Date Picker label</label>
      <input data-invalid type="text" id="date-picker-3" class="{{@root.prefix}}--date-picker__input" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="mm/dd/yyyy"
        data-date-picker-input />
      <div class="{{@root.prefix}}--form-requirement">
        Invalid date format.
      </div>
    </div>
  </div>
</div>
