<div class="{{@root.prefix}}--responsive-table-container" data-responsive-table>
  <table class="{{@root.prefix}}--responsive-table{{#if simple}} {{@root.prefix}}--responsive-table--static-size{{/if}}" data-table>
    <thead class="{{@root.prefix}}--table-head">
      <tr class="{{@root.prefix}}--table-row">
        {{#each columns}}
          <th class="{{@root.prefix}}--table-header{{#if checkbox}} {{@root.prefix}}--table-select{{/if}}{{#if sortable}} {{@root.prefix}}--table-sort{{/if}}"{{#if sortable}} data-event="sort"{{/if}}>
            {{#if checkbox}}
              <input data-event="select-all" id="{{checkboxId}}" class="{{@root.prefix}}--checkbox" type="checkbox" value="{{checkboxValue}}" name="{{checkboxName}}">
              <label for="{{checkboxId}}" class="{{@root.prefix}}--checkbox-label" aria-label="{{title}}">
                <span class="{{@root.prefix}}--checkbox-appearance">
                  {{> carbon-icon-checkmark-classic attr-class=(add @root.prefix "--checkbox-checkmark") }}
                </span>
              </label>
            {{else}}
              {{#if title}}
                <span>{{title}}</span>
              {{/if}}
              {{#if sortable}}
                {{> carbon-icon-caret-down attr-class=(add @root.prefix "--table-sort__svg") }}
              {{/if}}
            {{/if}}
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody class="{{@root.prefix}}--table-body">
      {{#each rows as |row|}}
        <tr tabindex="0" class="{{@root.prefix}}--table-row {{@root.prefix}}--parent-row" data-parent-row>
          {{#each ../columns as |column|}}
            {{#with (lookup row column.name) as |data|}}
              {{#if column.section}}
                <td tabindex="0" class="{{@root.prefix}}--table-expand" data-event="expand">
                  {{> carbon-icon-chevron-right attr-class=(add @root.prefix "--table-expand__svg") }}
                </td>
              {{else if column.checkbox}}
                <td class="{{@root.prefix}}--table-select">
                  <input id="{{@root.prefix}}--checkbox-2" class="{{@root.prefix}}--checkbox" type="checkbox" value="green" name="{{data.id}}">
                  <label for="{{@root.prefix}}--{{id}}" class="{{@root.prefix}}--checkbox-label" aria-label="{{data.label}}">
                    <span class="{{@root.prefix}}--checkbox-appearance">
                      {{> carbon-icon-checkmark attr-class=(add @root.prefix "--checkbox-checkmark") }}
                    </span>
                  </label>
                </td>
              {{else if column.menu}}
                <td class="{{@root.prefix}}--table-overflow">
                  <div data-overflow-menu tabindex="0" aria-label="{{data.label}}" class="{{@root.prefix}}--overflow-menu">
                    {{> (../../../overflowMenuIcon) attr-class=(add @root.prefix "--overflow-menu__icon") }}
                    <ul class="{{@root.prefix}}--overflow-menu-options{{#if data.flip}} {{@root.prefix}}--overflow-menu--flip{{/if}}" tabindex="-1">
                      {{#each data.items}}
                        <li class="{{@root.prefix}}--overflow-menu-options__option{{#if danger}} {{@root.prefix}}--overflow-menu-options__option--danger{{/if}}">
                          <button class="{{@root.prefix}}--overflow-menu-options__btn"{{#if primaryFocus}} data-floating-menu-primary-focus{{/if}}>{{label}}</button>
                        </li>
                      {{/each}}
                    </ul>
                  </div>
                </td>
              {{else}}
                <td>{{data}}</td>
              {{/if}}
            {{/with}}
          {{/each}}
        </tr>
        {{#if row.sectionContent}}
          <tr class="{{@root.prefix}}--table-row {{@root.prefix}}--expandable-row {{@root.prefix}}--expandable-row--hidden">
            <td colspan="{{../columns.length}}">
              {{{row.sectionContent}}}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>