<div class="{{@root.prefix}}--tooltip--icon">
  <button class="{{@root.prefix}}--tooltip__trigger {{@root.prefix}}--tooltip--icon__top" aria-label="Filter">
    {{#if @root.featureFlags.componentsX}}
      {{ carbon-icon 'Filter16' }}
    {{else}}
      <svg width="16" height="12" viewBox="0 0 16 12">
        <path d="M8.05 2a2.5 2.5 0 0 1 4.9 0H16v1h-3.05a2.5 2.5 0 0 1-4.9 0H0V2h8.05zm2.45 2a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM3.05 9a2.5 2.5 0 0 1 4.9 0H16v1H7.95a2.5 2.5 0 0 1-4.9 0H0V9h3.05zm2.45 2a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
      </svg>
    {{/if}}
  </button>
</div>
