<!-- 
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<div class="{{@root.prefix}}--form-item">
  <input class="{{@root.prefix}}--toggle {{@root.prefix}}--toggle--small" id="toggle4" type="checkbox"
    aria-label="Label Name">
  <label class="{{@root.prefix}}--toggle__label" for="toggle4">
    <span class="{{@root.prefix}}--toggle__text--left" aria-hidden="true">Off</span>
    <span class="{{@root.prefix}}--toggle__appearance">
      <svg class="{{@root.prefix}}--toggle__check" width="6px" height="5px" viewBox="0 0 6 5">
        <path d="M2.2 2.7L5 0 6 1 2.2 5 0 2.7 1 1.5z" />
      </svg>
    </span>
    <span class="{{@root.prefix}}--toggle__text--right" aria-hidden="true">On</span>
  </label>
</div>

<div class="{{@root.prefix}}--form-item">
  <input class="{{@root.prefix}}--toggle {{@root.prefix}}--toggle--small" id="toggle5" type="checkbox"
    aria-label="Label Name" disabled>
  <label class="{{@root.prefix}}--toggle__label" for="toggle5">
    <span class="{{@root.prefix}}--toggle__text--left" aria-hidden="true">Off</span>
    <span class="{{@root.prefix}}--toggle__appearance">
      <svg class="{{@root.prefix}}--toggle__check" width="6px" height="5px" viewBox="0 0 6 5">
        <path d="M2.2 2.7L5 0 6 1 2.2 5 0 2.7 1 1.5z" />
      </svg>
    </span>
    <span class="{{@root.prefix}}--toggle__text--right" aria-hidden="true">On</span>
  </label>
</div>