<!-- 
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<div class="{{@root.prefix}}--form-item">
  <input class="{{@root.prefix}}--toggle" id="toggle1" type="checkbox">
  <label class="{{@root.prefix}}--toggle__label" for="toggle1">
    <span class="{{@root.prefix}}--toggle__text--left" aria-hidden="true">Off</span>
    <span class="{{@root.prefix}}--toggle__appearance"></span>
    <span class="{{@root.prefix}}--toggle__text--right" aria-hidden="true">On</span>
  </label>
</div>

<fieldset class="{{@root.prefix}}--fieldset">
  <legend class="{{@root.prefix}}--label">Toggle w/ Label</legend>
  <div class="{{@root.prefix}}--form-item">
    <input class="{{@root.prefix}}--toggle" id="toggle2" type="checkbox">
    <label class="{{@root.prefix}}--toggle__label" for="toggle2">
    <span class="{{@root.prefix}}--toggle__text--left" aria-hidden="true">Off</span>
    <span class="{{@root.prefix}}--toggle__appearance"></span>
    <span class="{{@root.prefix}}--toggle__text--right" aria-hidden="true">On</span>
  </label>
  </div>
</fieldset>

<div class="{{@root.prefix}}--form-item">
  <input class="{{@root.prefix}}--toggle" id="toggle3" type="checkbox" disabled>
  <label class="{{@root.prefix}}--toggle__label" for="toggle3">
    <span class="{{@root.prefix}}--toggle__text--left" aria-hidden="true">Off</span>
    <span class="{{@root.prefix}}--toggle__appearance"></span>
    <span class="{{@root.prefix}}--toggle__text--right" aria-hidden="true">On</span>
  </label>
</div>
