<!-- 
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<div class="{{@root.prefix}}--form-item">
  <strong class="{{#if componentsX}}{{@root.prefix}}--file--label{{else}}{{@root.prefix}}--label{{/if}}">Account photo</strong>
  <p class="{{@root.prefix}}--label-description">only .jpg and .png files. 500kb max file size.</p>
  <div class="{{@root.prefix}}--file" data-file>
    <label
      for="your-file-importer-id-here"
      class="{{@root.prefix}}--file-btn {{@root.prefix}}--btn {{@root.prefix}}--btn--primary {{@root.prefix}}--btn--sm"
      role="button"
      tabindex="0">Add file</label>
    <input
      type="file"
      class="{{@root.prefix}}--file-input"
      id="your-file-importer-id-here"
      data-file-uploader
      data-target="[data-file-container]"
      multiple
    />
    <div data-file-container class="{{@root.prefix}}--file-container"></div>
  </div>
</div>
