<!-- 
  Copyright IBM Corp. 2016, 2018

  This source code is licensed under the Apache-2.0 license found in the
  LICENSE file in the root directory of this source tree.
-->

<ul data-accordion class="{{@root.prefix}}--accordion">
  {{#each sections}}
    <li data-accordion-item class="{{@root.prefix}}--accordion__item">
      <button class="{{@root.prefix}}--accordion__heading" aria-expanded="false" aria-controls="{{paneId}}">
        {{ carbon-icon 'ChevronRight16' class=(add @root.prefix '--accordion__arrow') }}
        <div class="{{@root.prefix}}--accordion__title">{{title}}</div>
      </button>
      <div id="{{paneId}}" class="{{@root.prefix}}--accordion__content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </li>
  {{/each}}
</ul>
